.about {
    min-height: 885px;
    background-color: #fff;
    &__bg {
        width: 1200px;
        margin: 0 auto;
        height: 545px;
        background: url('../../img/clouds_bg.png') no-repeat 50%/cover;
        @include for-desktop-up {
            width: 100%;
        }
        @include for-tablet-landscape-up {
            width: 100%;
        }
        @include for-tablet-portrait-up {
            width: 100%;
        }
        @include for-phone-only {
            width: 100%;
        }
    }
    &__wrapper {
        width: 765px;
        margin: 95px auto 0px auto;
        display: grid;
        grid-template-columns: repeat(4, 140px);
        justify-content: space-between;
        @include for-tablet-landscape-up {
            grid-template-columns: repeat(2, 1fr);
            margin: 60px auto 0px auto;
            row-gap: 30px;
        }
        @include for-tablet-portrait-up {
            grid-template-columns: repeat(2, 1fr);
            margin: 60px auto 0px auto;
            row-gap: 30px;
            width: 100%;
        }
        @include for-phone-only {
            grid-template-columns: 1fr;
            margin: 60px auto 0px auto;
            row-gap: 30px;
            width: 100%;
        }
    }
    &__subtitle {
        font-weight: 500;
        font-size: 10px;
        color: #3d4f9f;
        text-transform: uppercase;
        text-align: center;
        margin-top: 170px;
        @include for-tablet-landscape-up {
            margin-top: 45px;
            font-size: 15px;
        }
        @include for-tablet-portrait-up {
            margin-top: 45px;
            font-size: 15px;
        }
        @include for-phone-only {
            margin-top: 30px;
            font-size: 15px;
        }
    }
    &__title {
        margin-top: 20px;
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
    }
    &__img {
        width: 69px;
        margin: 0 auto;
    }
    &__name {
        margin-top: 33px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 14px;
        text-align: center;
        line-height: 25px;
        color: #4074f8;
    }
    &__descr {
        font-family: 'Open Sans', sans-serif;
        margin: 25px auto 0px auto;
        width: 140px;
        font-weight: 600;
        font-size: 11px;
        line-height: 20px;
        text-align: center;
        color: #adb3cb;
    }
    &__btns {
        width: 340px;
        margin: 150px auto 0px auto;
        display: grid;
        grid-template-columns: 113px 111px 113px;
        grid-template-rows: 43px;
        justify-content: space-between;
        align-items: center;
        @include for-tablet-landscape-up {
            margin: 60px auto 0px auto;
        }
        @include for-tablet-portrait-up {
            margin: 60px auto 0px auto;
        }
        @include for-phone-only {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: 60px auto 0px auto;
        }
    }
    &__btn {
        &-first {
            display: block;
            margin-bottom: 20px;
        }
        &-second {
            display: block;
            margin-top: 20px;
        }
    }
    &__divider {
        font-weight: 600;
        font-size: 11px;
        line-height: 20px;
        text-align: center;
        color: #adb3cb;
    }
    @include for-tablet-landscape-up {
        min-height: 770px;
    }
    @include for-tablet-portrait-up {
        min-height: 775px;
        padding-bottom: 45px;
    }
    @include for-phone-only {
        min-height: 1350px;
        padding-bottom: 45px;
    }
}