.promo {
    min-height: 570px;
    margin: 0px auto 0px auto;
    background: url('../../img/main_bg.png') no-repeat 50%/cover;
    &__wrapper {
        width: 585px;
        margin: 0 auto;
        padding: 90px 0px;
        @include for-tablet-landscape-up {
            width: 100%;
            padding: 45px 0;
        }
        @include for-tablet-portrait-up {
            width: 100%;
            padding: 45px 0;
        }
        @include for-phone-only {
            width: 100%;
            padding: 25px 0;
        }
    }
    &__header {
        font-weight: 500;
        font-size: 10px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #3d4f9f;
        @include for-tablet-landscape-up {
            font-size: 18px;
        }
        @include for-tablet-portrait-up {
            font-size: 18px;
        }
        @include for-phone-only {
            font-size: 15px;
        }
    }
    &__title {
        text-align: center;
        margin-top: 20px;
        @include for-tablet-landscape-up {
            width: 100%;
            font-size: 42px;
        }
        @include for-tablet-portrait-up {
            width: 100%;
            font-size: 42px;
        }
    }
    &__caption {
        font-weight: 400;
        font-size: 15px;
        line-height: 28px;
        text-align: center;
        color: #8d96bd;
        width: 502px;
        margin: 30px auto 0px auto;
        @include for-tablet-landscape-up {
            width: 100%;
            font-size: 18px;
        }
        @include for-tablet-portrait-up {
            width: 100%;
            font-size: 18px;
        }
        @include for-phone-only {
            width: 100%;
        }
    }
    &__btns {
        width: 152px;
        height: 152px;
        margin: 0 auto;
        img {
            width: 182px;
        }
    }
}