.quotes {
    min-height: 480px;
    position: relative;
    background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
    padding-bottom: 175px;
    overflow-x: hidden;
    &__wrapper {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 100px;
        width: 1320px;
        display: grid;
        grid-template-columns: 335px 830px;
        grid-template-rows: 261px;
        align-items: center;
        justify-content: space-between;
        align-items: center;
        @include for-desktop-up {
            left: 50%;
            transform: translateX(-50%);
            top: 100px;
            width: 1120px;
            display: grid;
            grid-template-columns: 335px 720px;
            grid-template-rows: 261px;
            align-items: center;
            justify-content: space-between;
            align-items: center;
        }
        @include for-tablet-landscape-up {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            column-gap: 60px;
            width: 800px;
            left: 50%;
            margin-left: 0;
            position: relative;
            top: 0;
        }
        @include for-tablet-portrait-up {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            column-gap: 60px;
            width: 500px;
            left: 50%;
            margin-left: 0;
            position: relative;
            top: 0;
        }
        @include for-phone-only {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            column-gap: 60px;
            width: 290px;
            left: 50%;
            margin-left: 0;
            position: relative;
            top: 0;
        }
    }
    &__caption {
        padding-top: 60px;
        @include for-tablet-landscape-up {
            padding-top: 0;
            width: 800px;
        }
        @include for-tablet-portrait-up {
            padding-top: 0;
            width: 500px;
        }
        @include for-phone-only {
            padding-top: 0;
            width: 290px;
        }
    }
    &__subtitle {
        font-weight: 500;
        font-size: 10px;
        color: #3d4f9f;
        text-transform: uppercase;
        @include for-tablet-landscape-up {
            font-size: 18px;
            text-align: center;
        }
        @include for-tablet-portrait-up {
            font-size: 18px;
            text-align: center;
        }
        @include for-phone-only {
            font-size: 15px;
            text-align: center;
        }
    }
    &__title {
        margin-top: 31px;
        font-weight: 500;
        @include for-tablet-landscape-up {
            
            text-align: center;
        }
        @include for-tablet-portrait-up {
            
            text-align: center;
        }
        @include for-phone-only {
            text-align: center;
        }
    }
    &__text {
        margin-top: 15px;
        font-weight: 600;
        font-size: 12px;
        line-height: 22px;
        color: #a4abc8;
        font-family: 'Open Sans', sans-serif;
        @include for-tablet-landscape-up {
            font-size: 17px;
            text-align: center;
        }
        @include for-tablet-portrait-up {
            font-size: 17px;
            text-align: center;
        }
        @include for-phone-only {
            text-align: center;   
        }
    }
    &__slider {
        display: flex;
        justify-content: space-between;
        position: relative;
        height: 210px;
        margin-top: 30px;
        &-wrapper .slick-list {
            margin: 0 -27px;
            height: 100%;
            @include for-tablet-landscape-up {
                margin: 0 -27px;
            }
        }
        &-wrapper .slick-list .slick-track .slick-slide {
            margin: 0 27px;
            @include for-tablet-portrait-up {
                width: 500px;
            }
            @include for-phone-only {
                width: 290px;
            }
        }
        &-item {
            position: relative;
            padding: 45px 70px;
            width: 423px;
            height: 175px;
            background-color: #fff;
            filter: drop-shadow(0px 5px 50px #F3F5FA);
            @include for-desktop-up {
                width: 350px;
            }
            @include for-phone-only {
                padding: 10px 20px;
            }
        }
        &-avatar {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -30px;
        }
        &-text {
            font-weight: 400;
            font-size: 14px;
            line-height: 23px;
            color: #676f95;
        }
        &-last {
            position: absolute;
            padding: 45px 0px 45px 70px;
            right: 0;
            clip: rect(0px, 300px, 170px, 60px);
            overflow: hidden;
            width: 300px;
            .quotes__slider-text {
                width: 200px;
                padding-left: 70px;
            }
        }
        @include for-desktop-up {
            
        }
        @include for-tablet-landscape-up {
            margin-left: 27px;
        }
        @include for-tablet-portrait-up {
            margin-left: 27px;
        }
        @include for-phone-only {
            margin-left: 27px;
            min-height: 220px;
            height: 100%;
        }
    }
    &__subwrapper {
        position: absolute;
        bottom: -50px;
        left: 50%;
        transform: translateX(-75%);
        width: 170px;
        display: flex;
        justify-content: space-between;
        @include for-desktop-up {
            transform: translateX(-44%);
        }
    }
    &__dot {
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background-color: #d1d6e3;
        &-active {
            background-color: #5283ff;
        }
    }
    @include for-tablet-landscape-up {
        min-height: auto;
        padding: 45px 0;       
    }
    @include for-tablet-portrait-up {
        min-height: auto;
        padding: 45px 0;       
    }
    @include for-phone-only {
        min-height: auto;
        padding: 45px 0;       
    }
}