.resources {
    min-height: 865px;
    background-color: #f5f8ff;
    &__wrapper {
        position: relative;
        width: 960px;
        height: 395px;
        padding: 64px 35px;
        margin: 92px auto 0px auto;
        display: grid;
        grid-template-columns: 410px 410px;
        justify-content: space-between;
        background-color: #fff;
        border: 1px solid #d8e3fe;
        filter: drop-shadow(0px 15px 50px #eff4ff);
    }
    &__arrow {
        position: absolute;
        top: 50%;
        &-left {
            left: -100px;
        }
        &-right {
            right: -100px;
        }
    }
    &__gallery {
        display: grid;
        grid-template-columns: 267px 126px;
        grid-template-rows: repeat(2, 126px);
        gap: 13px;
    }
    &__img {
        position: relative;
        &-big {
            width: 268px;
            height: 267px;
        }
        &-last {
            grid-column: 2 / 3;
        }
    }
    &__search {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }
    &__name {
        margin-top: 5px;
        font-weight: 400;
        font-family: 'Quicksand', sans-serif;
        font-size: 36px;
        color: #3d4f9f;
    }
    &__text {
        margin-top: 32px;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        color: #8d96bd;
    }
    &__btns {
        margin-top: 30px;
    }
    &__subtitle {
        font-weight: 500;
        font-size: 10px;
        color: #3d4f9f;
        text-transform: uppercase;
        text-align: center;
        margin-top: 104px;
    }
    &__title {
        margin-top: 20px;
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
    }
}

.slider {
    width: 50px;
    display: flex;
    justify-content: space-between;
    margin: 100px auto 0px auto;
    &__dot {
        width: 8px;
        height: 8px;
        background-color: #d1d6e3;
        border-radius: 100%;
        &-active {
            background-color: #5283ff;
        }
    }
}